<nav class="navbar has-shadow is-white">
  <div class="container">
    <div class="navbar-brand">
      <a class="nav-item" [routerLink]="['/']">
        <img src="assets/images/logo.png" alt="foamtec">
      </a>
      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">
            About Us
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">
              Overview
            </a>
            <a class="navbar-item" href="#">
              Modifiers
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <a class="nav-item is-tab is-hidden-mobile">
          Contract
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <label *ngIf="token">{{name}} &nbsp;</label>
            <i class="fa fa-user-o" aria-hidden="true"></i>
          </a>
          <div class="navbar-dropdown">
            <a [routerLink]="['/login']" class="navbar-item" *ngIf="!token">
              Login
            </a>
            <a class="navbar-item" href="#" *ngIf="token" (click)="logOut()">
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>