footer .footer-inner .footer-content {
    left: 12px;
    right: 12px;
    bottom: 4px;
    padding: 8px;
    line-height: 36px;
    border-top: 3px double #E5E5E5;
}
footer .footer-inner {
    text-align: center;
    z-index: auto;
    left: 0;
    right: 0;
    bottom: 0;
}